{% extends '::base.html.twig' %}

{% block body %}

    <form class="form-inline    " action="{{ path('list') }}" method="get">
        <input class="form-control" name="filter">
        <button class="btn">Submit</button>
    </form>

    <div class="count">
        Count: {{ blog_posts.getTotalItemCount }}

        <a href="{{ path('create') }}" class="btn btn-success btn-sm">Add</a>
    </div>

    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(blog_posts,'id','bp.id') }}</th>
            <th>{{ knp_pagination_sortable(blog_posts,'title','bp.title') }}</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for post in blog_posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>
                    <a href="{{ path('edit', { 'blogPost': post.id }) }}" class="btn btn-default btn-sm">Edit</a>
                    <a href="{{ path('delete', { 'blogPost': post.id }) }}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(blog_posts) }}
    </div>

{% endblock %}